*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.815);
}
.info{
    background-color: rgb(248, 244, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.player{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.boxes{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 5px;
}
.boxes button{
    border-radius: 15px;
    width: 100px;
    height: 100px;
    color: rgb(0, 0, 0);
    font-size: larger;
    /* background-color: blue; */
}
.boxes button:disabled{
    background-color: whitesmoke;
    color: black;
}
.main-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}
.game-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 2% 0 0 0;
    gap: 20%;
}
.game-btn >:nth-child(2){
    display: none;
}
.game-btn button{
    padding: 3%;
    border: 2px solid black;
    border-radius: 5px;
}
.game-btn button:hover{
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}

#winner-declare{
    display: none;
    color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 5px;
}

#new-game{
    display: none;
}